appsettings.json

bin/
obj/
Debug/
Release/

.vs/
*.user
*.suo
*.cache
*.log
*.csproj.user
*.vcxproj.user
*.sln.docstates

packages/
*.lock.json

*.tmp
*.bak
*.swp
*.sln.ide

node_modules/
dist/

_ReSharper.Caches/
*.DotSettings.user
